{% extends "accounts/sub_base.html" %}
{% block title %}Reset your account{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
{#<script>#}
{#    window.location.href = '{% url "users:accounts-settings" %}';#}
{#</script>#}
{% endif %}
    
    <section style="height:70vh" class="w-9/12 md:w-7/12 lg:w-2/6 flex flex-col justify-center m-auto px-4 py-3">
      <h2 class="text-2xl font-medium">Reset Your Password</h2>
      <p>Enter your e-mail address to obtain a new password.</p>
      <form action="{% url 'users:password_reset' %}" method="post" class="grid grid-cols-4 gap-y-3">
          {% csrf_token %}
      
{#          {% if form.errors %}#}
{#          {% endif %}#}
      
        <label for="email" class="col-span-4 font-bold -mb-2">{{ form.email.label}}</label>
            {{ form.email }}
        <button type="submit" class="text-white bg-black py-3 px-2 col-span-1 text-nowrap">
          Send e-mail
        </button>
      </form>
    </section>

{% endblock %}