{% extends "base.html" %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block stylesheet %} 
    {% static "blog/blog-category.css" %}
{% endblock %}
{% block content %}

{#    <div class="page-title">#}
{#      <div class="container w-container">#}
{#        <div class="section-title-wrap">#}
{#          <h1 class="page-heading">Our Blogs</h1>#}
{#          <p class="title-info">#}
{#            In a world that can sometimes feel overwhelming and challenging,#}
{#            positive thinking offers a ray of hope and a path to a brighter#}
{#            future.#}
{#          </p>#}
{#        </div>#}
{#      </div>#}
{#      <div class="triangle-small"></div>#}
{#    </div>#}
    
    <!-- blog-section -->
   <section id="blog">
    <!-- blog-heading --------------->
    <div class="blog-heading">
        <span>Recent Posts</span>
    </div>

    <!-- container ---------------->
    <div class="blog-container">
        {% for post in posts %}
        <!-- box-1 ------------->
        <div class="blog-box">

            <!-- img ---->
            <div class="blog-img">
                <img alt="blog" src="{{ post.image.url }}">
            </div>
            <!-- text --->
            <div class="blog-text">
                <span class="date">{{ post.publish_date|date:'d F Y' }} </span>
                <a href="{{ post.get_absolute_url }}" class="blog-title">{{ post.title }}</a>
                <p> {{ post.excerpt }} </p>
                <div class="flex flex-row justify-between">
                    <a>{{ post.author }}</a>
                    <a href="{{ post.get_absolute_url }}">Read More</a>
                </div>
                
            </div>

        </div>
        {% endfor %} 
    </div>

</section>
    
{% endblock %}